<h1 mat-dialog-title>Sign up</h1>
<form [formGroup]="userForm" (ngSubmit)="saveUser(userForm.value)">

  <div mat-dialog-content>

    <mat-form-field>
      <mat-label>Nickname</mat-label>
      <input matInput formControlName="nickname" />
      <mat-error *ngIf="hasError('nickname', 'required')">Nickname is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
      <mat-error *ngIf="hasError('email', 'email') && !hasError('email','required')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
    </mat-form-field>

      <mat-checkbox color="primary" formControlName="rgpd">I have read and I accept the <a
          href="https://soundgo.github.io/home/terms-and-conditions.html" target="_blank">terms and conditions</a>
      </mat-checkbox>

  </div>

  <div mat-dialog-actions>
    <a mat-button color="warn" (click)="onClose()">Close</a>
    <button mat-button class="saveButton" [disabled]="!userForm.valid">Sign up</button>
  </div>

</form>