<h1 mat-dialog-title>Sign up</h1>
<form [formGroup]="userForm" (ngSubmit)="saveUser(userForm.value)">

  <div mat-dialog-content>

    <mat-form-field>
      <mat-label>Nickname</mat-label>
      <input matInput formControlName="nickname" maxlength="256"/>
      <mat-error *ngIf="hasError('nickname', 'required')">Nickname is required</mat-error>
      <mat-error *ngIf="hasError('nickname', 'maxlength')">Nickname must have less than 255 characters</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" email maxlength="256"/>
      <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
      <mat-error *ngIf="hasError('email', 'maxlength')">Email must have less than 255 characters</mat-error>
      <mat-error *ngIf="hasError('email', 'email') && !hasError('email','required')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" maxlength="256"/>
      <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
      <mat-error *ngIf="hasError('password', 'maxlength')">Password must have less than 255 characters</mat-error>
      <mat-error *ngIf="hasError('password', 'minlength')">Password must be 8 characters or more</mat-error>
      <mat-error *ngIf="hasError('password', 'pattern')">At least 1 lowercase letter, 1 uppercase letter, 1 number and 1 special character.</mat-error>
    </mat-form-field>

      <mat-checkbox color="primary" formControlName="rgpd">I have read and I accept the <a
          href="https://soundgo.github.io/home/terms-and-conditions-v3.html" target="_blank">terms and conditions</a>
      </mat-checkbox>

  </div>

  <div mat-dialog-actions>
    <a mat-button color="warn" (click)="onClose()">Close</a>
    <button mat-button class="saveButton" [disabled]="!userForm.valid">Sign up</button>
  </div>

</form>