<mat-dialog-actions>
  <h1 mat-dialog-title>Profile</h1>
  <button mat-button color="warn" (click)="onClose()">Close</button>
</mat-dialog-actions>
<mat-dialog-content>
  <div class="profile">
      <form>
          <div class="image-upload">
            <label for="file-input">
              <img class="photo_profile" alt="avatar" [src]="user.photo || '/assets/images/anonymous.png'" />
            </label>
            <input id="file-input" type="file" name="image" (change)="submitAvatar($event)"/>
          </div>
      </form>
      <p class="image-label">Press in avatar image to change it</p>
      <p>{{user.nickname}}</p>
      <p>{{user.email}}</p>
  </div>
  <div class="become-advertiser" *ngIf="!isAdvertiser">
    <hr>
    <p>Become an <span>Advertiser</span></p>
  </div>
</mat-dialog-content>
