@import '../../../../../css/theme.scss';

:host {
  mat-dialog-content {
    overflow: hidden;

    hr {
      margin: 20px 0;
    }


    .profile {
      text-align: center;

      .photo_profile {
        cursor: pointer;
        border-radius: 100%;
        box-shadow: 0 1px 3px #0000009e;
        width: 90px;
        height: 90px;
        margin-bottom: 10px;
      }

      p {
        margin: 10px;

        &.nickname {
          font-size: 25px;
        }
      }

    }

    .spinner {
      justify-content: center;
    }

    .profile {
      text-align: center;
    }

    .image-upload {
      display: flex;
      justify-content: center;
    }

    .become-advertiser {
      cursor: pointer;
      font-size: 19px;
      text-align: center;

      span {
        color: #dcc51b;
        font-weight: 600;
      }
    }
  }

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 24px;
  }

  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 6px;
    border: 3px solid red;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: red transparent transparent transparent;
  }

  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  mat-dialog-actions {
    justify-content: space-between;
    padding: 0px 0px 15px;
  }

  mat-dialog-actions button {
    align-self: flex-start;
  }

  .image-label {
    margin-bottom: 25px !important;
    font-size: 12px;
  }

  .image-upload > input {
    visibility: hidden;
    width: 0;
    height: 0
  }


}
