@import '../../../../../css/theme.scss';

:host {
  mat-dialog-content {
    overflow: hidden;

    hr {
      margin: 20px 0;
    }


    .profile {
      text-align: center;

      .photo_profile {
        cursor: pointer;
        border-radius: 100%;
        box-shadow: 0 1px 3px #0000009e;
        width: 90px;
        height: 90px;
        margin-bottom: 10px;
      }

      p {
        margin: 10px;

        &.nickname {
          font-size: 25px;
        }
      }
    }

    .become-advertiser {
      cursor: pointer;
      font-size: 19px;
      text-align: center;

      span {
        color: #dcc51b;
        font-weight: 600;
      }
    }
  }

  mat-dialog-actions {
    justify-content: space-between;
    padding: 0px 0px 15px;
  }

  mat-dialog-actions button {
    align-self: flex-start;
  }
}
