<mat-dialog-actions>
  <h1 mat-dialog-title>Profile</h1>
  <button mat-button color="warn" (click)="onClose()">Close</button>
</mat-dialog-actions>
<mat-dialog-content>
  <div class="profile">
      <img class="photo_profile" alt="avatar" [src]="user.photo || '/assets/images/anonymous.png'"/>
      <p>{{user.nickname}}</p>
      <p>{{user.email}}
        <span><button mat-button color="primary" (click)="editProfile()">Edit</button></span>
      </p> 
  </div>
  <div class="become-advertiser" *ngIf="!isAdvertiser">
    <hr>
    <p>Become an <span>Advertiser</span></p>
  </div>
</mat-dialog-content>