@import '../../../../css/theme.scss';

:host {

  .site-search {
    width: 80%;
    margin: 5px 5%;
    display: block;
    font-size: 30px;
    border: 0;
    border-bottom: 3px solid #7D46CE;
  }

  .site-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .site-wrapper > p {
    margin: 10px 20px;
    font-size: 22.5px;
  }

  .mat-dialog-content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }

  .site {
    display: flex;
    align-items: center;
    background: #80808026;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 4px 5px;
    flex: 1 0 auto;
    cursor: pointer;

    p {
      flex: 1 0 auto;

      &.site-title {
        font-size: 20px;
        font-weight: bold;
      }

      &.fly-to {
        flex: 0 1 auto;
        margin-left: auto;
        background: dodgerblue;
        color: white;
        padding: 10px;
        border-radius: 5px;
      }
    }

    .add, .close {
      border-radius: 100%;
      width: 20px;
      height: 20px;
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
      margin-right: -5px;
      color: white;
      margin-left: 10px;
      font-size: 14px;
      float: right;
    }

    .add {
      background: forestgreen;
    }

    .close {
      background: #80808038;
    }
  }

  @media screen and (max-width: 768px) {
    .site-wrapper {
      width: 95%;
    }
  }
}
