<div *ngIf="!isLoading; else loading">

    <ng-template [ngIf]="sites && sites.length === 0">
        <p>There's no tags</p>
    </ng-template>

    <div class="site-wrapper" *ngIf="sites && sites.length !== 0 && isSiteFoundAvailable() && term">
        <div mat-dialog-content>
            <div class="site" *ngFor="let site of sitesFound" (click)="flyTo(site)">
                <div>
                    <p>{{site.name}}</p>
                    <p>{{site.description}}</p>
                </div>
                <p>Fly to</p>
            </div>
        </div>
    </div>

    <ng-template [ngIf]="sites && sites.length !== 0">
        <mat-dialog-actions>
            <button mat-button color="warn" (click)="onClose()">Close</button>
        </mat-dialog-actions>

        <input class="site-search" type="text" (keyup)="searchSites($event)" placeholder="Search sites...">

    </ng-template>
</div>
<ng-template #loading>
    <p>Loading search...</p>
</ng-template>
