<div
        class="icon"
        *ngIf="!isActive"
        [class.active]="isActive"
        [ngStyle]="{'width.px': size, 'height.px': size, 'background-color': color, 'background-image': 'url(' + icon + ')', 'background-size.px': size-20+''}">
</div>

<div
        class="icon active"
        *ngIf="isActive"
        [ngStyle]="{'width.px': size-3*2+'', 'height.px': size-3*2+'', 'border': '3px solid ' + color, 'background-position': 'center','background-image': 'url(' + activeIcon + ')', 'background-size.px': size-20+''}">
</div>
