:host {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      flex: 1 0;
      word-break: break-all;
      margin-bottom: 15px;
    }

    .buttons-wrapper {
      & > * {
        margin: 0 5px;
      }
    }
  }

  .description {
    word-break: break-all;
  }

  mat-spinner {
    display: block;
    text-align: center;
    margin: 20px auto;
  }

  mat-nav-list {
    overflow-y: auto;
    max-height: 100%;
  }

  mat-list-item /deep/ .mat-list-item-content {
    padding: 0;
  }

  div.reproducer {
    width: 100%;
  }
}
