<div class="header">
    <h1 mat-dialog-title><b>{{ data.properties.name }}</b></h1>
    <app-site-record [siteId]="data.properties.id" (click)="closeSitePanel()"></app-site-record>
</div>
<mat-spinner [diameter]="40" *ngIf="isLoading(); else content"></mat-spinner>
<ng-template #content>
    <p *ngIf="site">{{ site.description }}</p>
    <mat-nav-list *ngIf="audios.length === 0">
        <mat-list-item>
            <span mat-line>{{ 'There\'s no audios to listen' | translate }}</span>
        </mat-list-item>
    </mat-nav-list>
    <mat-nav-list *ngIf="audios.length !== 0">
        <mat-list-item *ngFor="let audio of audios">
            <div class="reproducer" plyr plyrType="audio" [plyrSources]="[{ src: audio.path, type: 'audio/ogg' }]" [plyrOptions]="{ controls: ['play', 'progress', 'current-time'] }"></div>
        </mat-list-item>
    </mat-nav-list>
</ng-template>
