:host {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      display: inline;
    }

    .buttons-wrapper {
      & > * {
        margin: 0 5px;
      }
    }
  }

  mat-spinner {
    display: block;
    text-align: center;
    margin: 20px auto;
  }

  mat-list-item /deep/ .mat-list-item-content {
    padding: 0;
  }

  div.reproducer {
    width: 100%;
  }

}
