<ng-template [ngIf]="isLoading">
    <div class="header">
        <h1 mat-dialog-title><b>{{ data.properties.name }}</b></h1>
    </div>
    <div mat-dialog-content>
        <mat-spinner [diameter]="50"></mat-spinner>
    </div>
</ng-template>

<ng-template [ngIf]="!isLoading">
    <div class="header">
        <h1 mat-dialog-title><b>{{ site.name }}</b></h1>
        <div class="buttons-wrapper">
            <app-reproducer-button *ngIf="isEditable()"
                                   [icon]="'/assets/images/edit-site.png'"
                                   [activeIcon]="'/assets/images/edit-site-active.png'"
                                   [color]="'dodgerblue'"
                                   [isActive]="isEditing"
                                   (click)="editSite()">
            </app-reproducer-button>
            <app-reproducer-button *ngIf="isEditable()"
                                   [activeIcon]="'/assets/images/delete.png'"
                                   [icon]="'/assets/images/delete-active.png'"
                                   [color]="'#AF2237'"
                                   [isActive]="isRemoving"
                                   (click)="deleteSite()">
            </app-reproducer-button>
            <app-site-record *ngIf="canRecord" [siteId]="site.id"
                             (click)="closeSitePanel()"></app-site-record>
        </div>
    </div>
    <p>{{ site.description }}</p>
    <mat-nav-list *ngIf="audios.length === 0">
        <mat-list-item>
            <span mat-line>{{ 'There\'s no audios to listen' | translate }}</span>
        </mat-list-item>
    </mat-nav-list>
    <mat-nav-list *ngIf="audios.length !== 0">
        <mat-list-item *ngFor="let audio of audios; let idx=index">
            <div class="reproducer" plyr plyrType="audio" [plyrSources]="[{ src: audio.path, type: 'audio/ogg' }]"
                 [plyrOptions]="{ controls: ['play', 'progress', 'current-time'] }"></div>
            <img width="30" height="30" *ngIf="isCreatedByLoggedUser(audio)" [src]="'/assets/images/delete.png'"
                 (click)="deleteAudio(audio.id, idx)"/>
        </mat-list-item>
    </mat-nav-list>
</ng-template>
