@import '../../../../css/theme.scss';

.saveButton {
    color: $purple;
}
.mat-dialog-actions {
  justify-content: center;
}
.mat-dialog-content {
  text-align: center;
}
.mat-form-field {
  width: 80%;
}
.prueba {
  position: absolute;
  top:0px;
}