@import '../../../../css/theme.scss';
:host {
  .saveButton {
    color: $purple;
  }
  .mat-dialog-actions {
    justify-content: center;
  }
  .mat-dialog-content {
    text-align: center;
  }
  .mat-form-field {
    width: 80%;
  }
}
