<h1 mat-dialog-title>Create site</h1>
<form [formGroup]="siteForm" (ngSubmit)="saveSite(siteForm.value)">
<div mat-dialog-content>
  <div mat-form-field>
    <div mat-label>Name</div>
    <input matInput formControlName="name">
    <div mat-error *ngIf="hasError('name', 'required')">Name is required</div>
  </div>
  <div mat-form-field>
    <div mat-label>Description</div>
    <textarea matInput formControlName="description"></textarea>
    <div mat-error *ngIf="hasError('description', 'required')">Description is required</div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="onClose()">Close</button>
  <button mat-button class="saveButton" [disabled]="!siteForm.valid">Save</button>
</div>
</form>
