<h1 mat-dialog-title>Log in</h1>
<form [formGroup]="userForm" (ngSubmit)="saveUser(userForm.value)">

    <div mat-dialog-content>

        <mat-form-field>
            <mat-label>Nickname</mat-label>
            <input matInput formControlName="nickname"/>
            <mat-error *ngIf="hasError('nickname', 'required')">Nickname is required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password"/>
            <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
        </mat-form-field>

        <mat-error *ngIf="showBadCredentials">The credentials are not correct</mat-error>

    </div>

    <div mat-dialog-actions>
        <a mat-button color="warn" (click)="onClose()">Close</a>
        <button mat-button class="saveButton" [disabled]="!userForm.valid" (keyup.enter)="saveUser(userForm.value)">Log
            in
        </button>
    </div>

</form>

<mat-divider class="divider-sign-up"></mat-divider>

<div class="sign-up">
    <button mat-button class="sign-up-button" color="primary" (click)="signUp()">Sign up</button>
</div>
