@import '../../../../../css/theme.scss';

:host {

  mat-form-field {
    width: 100%;
    font-size: 17.5px;
  }

  .divider-sign-up {
    margin: 20px;
    border-top-color: $colorPrimary;
  }

  .sign-up-button {
    margin-left: 35%;
  }
  .mat-dialog-actions {
    justify-content: space-evenly;
  }

}
