@import '../../../../../css/theme.scss';
:host {
  #map-container {
    position: absolute;
    bottom: 100px;
    right: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    text-align: center;
  }

  p {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: $purple;

    em {
      font-weight: 600;
      color: rgb(54, 4, 38);
    }
  }
  .instructions-1 {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
  }

  .instructions-2 {
    color: black;
    font-size: 18px;
    display: block;
    margin-top: 15px;

    em {
      color: orange;
    }
  }

  .text-add {
    margin-top: 20px;
  }

  #basic-container button {
    margin: 5px;
    margin-top: 15px;
    font-size: 1.2rem;
  }
  #basic-container .save {
    background: $blue;
    color: #fff;
  }
}
