<div *ngIf="!isLoading; else loading">

    <ng-template [ngIf]="tags && tags.length === 0">
        <p>There's no tags</p>
    </ng-template>

    <ng-template [ngIf]="tags && tags.length !== 0">
        <mat-dialog-actions>
            <button mat-button color="warn" (click)="onClose()">Close</button>
        </mat-dialog-actions>

        <input class="tag-search" type="text" (keyup)="searchTags($event)" placeholder="Search tags...">

        <br>
        <div class="tag-wrapper" *ngIf="isTagsFoundAvailable() && term">
            <p>Tags found</p>
            <div mat-dialog-content>
                <div class="tag" (click)="toggleTag(tag)" *ngFor="let tag of tagsFound">
                    <p>{{tag}}</p>
                    <div class="add" *ngIf="!isTagActive(tag)">+</div>
                    <div class="close" *ngIf="isTagActive(tag)">X</div>
                </div>
            </div>
        </div>
    </ng-template>
</div>
<ng-template #loading>
    <p>Loading search by tags...</p>
</ng-template>
