:host {
  width: 35px;
  height: 35px;
  display: inline-block;
  border: 2px solid #ff9b01;
  border-radius: 100%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/assets/color/microphone.svg);
  cursor: pointer;
}
