@import '../css/common.scss';

:host {
  .letrero {
    @include font(light);
    color: $colorPrimary;
    transition: color $animationTimeBlink $animationFuncDefault;

    &:hover {
      color: $orange;
    }
  }
}
