@import '../css/common.scss';

:host {
  p {
    text-wrap: normal;
    word-break: break-all;
  }
  .letrero {
    @include font(light);
    color: $colorPrimary;
    transition: color $animationTimeBlink $animationFuncDefault;

    &:hover {
      color: $orange;
    }
  }
}
