<div class="modal-choose-category">
  <h1 mat-dialog-title>Choose Category</h1>
  <div mat-dialog-content>
    <button
      mat-flat-button
      [class.tourismButton]="isActive('TOURISM')"
      (click)="selectCategory('TOURISM')"
    >
      Tourism
    </button>
    <button
      mat-flat-button
      [class.experienceButton]="isActive('EXPERIENCE')"
      (click)="selectCategory('EXPERIENCE')"
    >
      Experience
    </button>
    <button
      mat-flat-button
      [class.leisureButton]="isActive('LEISURE')"
      (click)="selectCategory('LEISURE')"
    >
      Leisure
    </button>
  </div>
  <mat-dialog-actions>
    <button mat-button color="warn" (click)="onClose()">
      Close
    </button>
    <button mat-button class="saveButton" (click)="saveCategory()">Save</button>
  </mat-dialog-actions>
</div>
