:host {
  height: 100%;
  position: relative;

  #title {
    text-align: center;
    color: #8A3AB9;
    font-size: 31px;
    margin-top: 15px;
  }

  main {
    height: calc(100% - 50px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
  }

  .tourismButton {
    background: #F24440;
    color: #FFF;
  }

  .experienceButton {
    background: #F57828;
    color: #FFF;
  }

  .leisureButton {
    background: #04B289;
    color: #FFF;
  }

  .line {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    border-bottom: solid 3px #8A3AB9;
  }

  .categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

}
