:host {
  position: relative;

  .loginPanel {
    position: absolute;
    margin-top: 2.5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height, opacity 0.125s ease-in-out;
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    width: 100%;

    &.opened {
      max-height: 500px;
      opacity: 1;
      padding: 5px 0;
    }
  }

  .photo_profile {
    border-radius: 100%;
    box-shadow: 0 1px 3px #0000009e;
    width: 70px;
    cursor: pointer;
    height: 70px;
  }

  .loginPanel div, .avatar {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    -webkit-filter: drop-shadow(1px 0px 2.5px #00000055);
    filter: drop-shadow(1px 0px 2.5px #00000055);
    transition: filter 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
      -webkit-filter: drop-shadow(1px 0px 2.5px #00000055);
      filter: drop-shadow(1px 0px 2.5px #00000055);
    }

    &:focus {
      outline: 0;
      width: 58px;
      height: 58px;
      margin-top: 1px;
    }
  }

  .avatar {
    width: 70px;
    height: 70px;
    background-image: url('/assets/images/user.png');
  }

  .change_user {
    background-image: url('/assets/images/change_user.PNG');
  }

  .change_advertiser {
    background-image: url('/assets/images/change_advertiser.PNG');
  }

  .change_administrator {
    background-image: url('/assets/images/change_admin.PNG');
  }

  .search {
    background-image: url('/assets/images/search.PNG');
  }

  .sign_up {
    background-image: url('/assets/images/sign_up.PNG');
  }

  .login {
    background-image: url('/assets/images/login.PNG');
  }

  .log_out {
    background-image: url('/assets/images/exit.PNG');
  }

  .site {
    background-image: url('/assets/images/marker.PNG');
  }

  .profile {
    background-image: url('/assets/images/perfil.PNG');
  }

}
