<div *ngIf="user === null" class="avatar" (click)="onSelect()"></div>
<img *ngIf="user !== null" class="photo_profile" alt="avatar" [src]="user.photo || '/assets/images/anonymous.png'" (click)="onSelect()"/>

<div class="loginPanel" [class.opened]="isSelected">

    <ng-template [ngIf]="auth === 'user'">
        <div class="profile" (click)="showProfile()"></div>
        <a><div class="search_tags" (click)="searchByTags()"></div></a>
        <a><div class="search_sites" (click)="searchBySites()"></div></a>
        <a><div class="log_out" (click)="logout()"></div></a>
    </ng-template>

    <ng-template [ngIf]="auth === 'advertiser'">
        <div class="profile" (click)="showProfile()"></div>
        <a><div class="search_tags" (click)="searchByTags()"></div></a>
        <a><div class="search_sites" (click)="searchBySites()"></div></a>
        <div class="site" (click)="createSite()"></div>
        <a><div class="log_out" (click)="logout()"></div></a>
    </ng-template>

</div>
