<div *ngIf="actor == null">
    <a><div class="avatar" (click)="onSelect()"></div></a>
</div>

<div *ngIf="actor !== null">
    <a><img class="photo_perfil" src="{{actor.photo}}" (click)="onSelect()" /></a>
</div>

<div class="loginPanel" *ngIf="isSelected">

    <div *ngIf="auth == 'null'">
        <!-- <a><div class="login"></div></a> -->
        <!-- <a><div class="sign_up"></div></a> -->
        <a><div class="change_user" (click)="changeToUser()"></div></a>
        <a><div class="change_advertiser" (click)="changeToAdvertiser()"></div></a>
    </div>

    <div *ngIf="auth == 'user'">
        <!-- <div class="perfil"></div> -->
        <!-- <a><div class="search"></div></a> -->
        <a><div class="change_advertiser" (click)="changeToAdvertiser()"></div></a>
        <a><div class="log_out" (click)="logout()"></div></a>
    </div>

    <div *ngIf="auth == 'advertiser'">
        <!-- <div class="perfil"></div> -->
        <!-- <a><div class="search"></div></a> -->
        <a><div class="site" (click)="createSite()"></div></a>
        <a><div class="change_user" (click)="changeToUser()"></div></a>
        <a><div class="log_out" (click)="logout()"></div></a>
    </div>

</div>