:host {
    mat-dialog-actions {
        justify-content: center;
    }
    mat-dialog-content {
        overflow: hidden;
        text-align: center;
    }

    mat-dialog-content p {
        font-size: 22px;
    }

    mat-dialog-content b {
        font-weight: 600;
    }
    mat-dialog-content .description {
        margin-top: 35px;
        font-size: 16px;
    }
   
}