$colorPrimary: #7D46CE;
$colorAccent: #5820A8;
$colorAccentAlt: #EB4339;
$orange: #FFA933;
$blue: #65B0C8;
$magenta: #F55BA4;
$warmviolet: #8468BE;
$coldviolet: #5C64AC;
$red: #F24440;
$green: #04B289;
$yellow: #F7DD19;
$orange: #F57828;
$purple: #8A3AB9;


$colorN100: #1A1E29;
$colorN90: #292D3A;
$colorN80: #383D4C;
$colorN70: #4B505F;
$colorN60: #626775;
$colorN50: #787D8B;
$colorN40: #9397A2;
$colorN30: #AEB1B9;
$colorN20: #C9CBD1;
$colorN10: #E4E5E8;
$colorN05: #F2F2F4;
$colorWhite: #FFF;

$fontFamily: 'Roboto', sans-serif;


$animationFuncDefault: ease;
$animationFuncAlt: linear;
$animationTimeDefault: .5s;
$animationTimeFast: .25s;
$animationTimeBlink: .125s;

$leftSidebarWidth: 395px;

$tablet-width: 768px;
$desktop-width: 1024px;
