<div>
    <b><h1 mat-dialog-title>{{ this.data.properties.name }}</h1></b>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <mat-nav-list *ngIf="!loading">
        <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
            <span mat-line>Audio 1</span>
            <span mat-line>Add to a note</span>
        </a>

        <a href="https://docs.google.com/" mat-list-item (click)="openLink($event)">
            <span mat-line>Audio 2</span>
            <span mat-line>Embed in a document</span>
        </a>

        <a href="https://plus.google.com/" mat-list-item (click)="openLink($event)">
            <span mat-line>Audio 3</span>
            <span mat-line>Share with your friends</span>
        </a>
    </mat-nav-list>
</div>
