@import '../../../../../css/theme.scss';

:host {
  .saveButton {
    color: $purple;
  }
  .mat-dialog-actions {
    justify-content: center;
  }
  .mat-form-field {
    width: 90%;
  }
  .numReproductions {
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
  }
  .max-number-reproductions {
    color: lightgray;
  }
  .description-title{
  margin: unset;
  }
}
