<h1 mat-dialog-title>Maximum price to pay (€)</h1>
<form [formGroup]="adPriceForm" (ngSubmit)="submit(adPriceForm.value)">
<div mat-dialog-content>
    <p>
        We will show how many reproductions can have your ad.
    </p>
    <div mat-form-field>
        <input matInput type="number" formControlName="price" (input)="calculatePrice(adPriceForm.value.price)" />
        <div mat-error *ngIf="hasError('price', 'required')">Price is required</div>
        </div>
</div>
<div class="numReproductions" *ngIf="maxNumberOfReproductions">
    <h1>{{maxNumberOfReproductions}} reproductions</h1>
</div>
<div mat-dialog-actions>
    <button mat-button class="saveButton" [disabled]="!adPriceForm.valid">Save</button>
</div>
</form>