<h1 mat-dialog-title>Maximum price to pay (€)</h1>
<form [formGroup]="adPriceForm" (ngSubmit)="submit(adPriceForm.value)">
<mat-dialog-content>
    <p>
        We will show how many reproductions can have your ad.
    </p>
    <mat-form-field>
        <input matInput type="number" min="0" formControlName="price" (input)="calculatePrice(adPriceForm.value.price)" digitOnly/>
        <mat-error *ngIf="hasError('price', 'required')">Price is required</mat-error>
    </mat-form-field>
</mat-dialog-content>
<div class="numReproductions" *ngIf="maxNumberOfReproductions">
    <h1>{{maxNumberOfReproductions}} reproductions</h1>
</div>
<mat-dialog-actions>
    <button mat-button class="saveButton" [disabled]="!adPriceForm.valid">Save</button>
</mat-dialog-actions>
</form>