<div>
    <app-showcase [bg]="'dodgerblue'" [icon]="'../../../../assets/images/ear.png'"
                  [label]="record.numberReproductions"></app-showcase>
    <div class="contentButtons"> 
        <app-reproducer-button *ngIf="isEditable" [isActive]="editActive" [activeIcon]="'../../../../assets/images/edit.png'" [icon]="'../../../../assets/images/edit-active.png'" [color]="'#FF9300'" (click)="editRecord()"></app-reproducer-button>
        &nbsp;
        <app-reproducer-button *ngIf="isEditable" [isActive]="deleteActive" [activeIcon]="'../../../../assets/images/delete.png'" [icon]="'../../../../assets/images/delete-active.png'" [color]="'#AF2237'" (click)="deleteRecord(record)" [deleteActive]="deleteActive"></app-reproducer-button>
    </div>
    <div class="reproducer" plyr plyrType="audio" (plyrEnded)="onFinish($event)"
         [plyrSources]="[{ src: record.path, type: 'audio/ogg' }]"
         [plyrOptions]="{ autoplay: true, controls: ['play', 'progress', 'current-time'] }">
    </div>
    <div class="author">
        <img [src]="record.photo ? record.photo : '../../../../assets/images/anonymous.png'"/>
        <p>{{record.name}}</p>
        <p class="advertiser" *ngIf="isAdvertiser">Advertiser</p>
    </div>
</div>
