@import '../../../../css/common.scss';

:host {
  padding: 50px;

  mat-spinner {
    display: block;
    text-align: center;
    margin: 50px auto;
  }

  .reproducer {
    margin: 15px 0;
  }

  .author {
    margin-left: 30px;
    display: flex;
    align-items: center;

    img {
      width: 35px;
      border-radius: 100%;
      box-shadow: 1px 0px 2.5px #00000087;
    }

    p {
      display: inline;
      font-size: 20px;
      font-weight: 500;
      margin-left: 15px;

      &.advertiser {
        margin-left: 5px;
        padding: 5px;
        background: #383D4C;
        color: white;
        border-radius: 5px;
        opacity: 0.75;
        font-size: 15px;
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin: 0 15px;

    .showcases-wrapper {
      flex: 0 1 auto;
      display: flex;
      align-items: center;

      app-showcase:nth-child(2) {
        margin-left: 10px;
        border: 2px solid purple;
      }
    }

    .buttons-wrapper {
      display: flex;

      app-reproducer-button {
        margin: 0 10px;
      }
    }

  }
}
