<ng-template [ngIf]="isUserLocalized">
    <div class="time-duration" *ngIf="pressToStop">
        <p>{{duration || 0}}s</p>
    </div>
    <div
            *ngIf="!isRecorded"
            (click)="stopRecord()"
            [class.siriWave]="isRecording"
            #siri
    ></div>
    <div class="time-stop"
         *ngIf="pressToStop"
         (click)="stopRecord()"
         [class.ad]="isAd">
        <div class="icon"></div>
        <p>{{ 'Tap to stop' }}</p>
    </div>
    <ng-template [ngIf]="!(isRecordingAudio || isRecordingAd) && !isRecorded && !pressToStop && !showUserCantRecord">
        <div class="container" [class.ad]="isAd">
            <div class="recorder-container" [class.ad]="isAd" (click)="startRecord()">
                <div class="icon"></div>
                <p>{{ 'Tap to record' }}</p>
            </div>
        </div>
    </ng-template>
    <ng-template [ngIf]="!(isRecordingAudio || isRecordingAd) && !isRecorded && !pressToStop && showUserCantRecord">
        <div class="container" [class.ad]="isAd">
            <div class="recorder-container" [class.ad]="isAd">
                <div class="icon"></div>
                <p>{{ 'No time to record' }}</p>
            </div>
        </div>
    </ng-template>
</ng-template>

<div class="noLocalized" *ngIf="!isUserLocalized">
    <h2>You must be localized to record audios</h2>
</div>
<div class="noLocalized" *ngIf="isAdBlockActivated">
    <h2>You must disable AdBlock to use the application</h2>
</div>
<div #adblock>
    <div class="adBanner"></div>
</div>
