<ng-template [ngIf]="isUserLocalized">
    <div class="time-duration" *ngIf="pressToStop">
        <p *ngIf="duration">{{duration || 0}}s</p>
        <p *ngIf="!duration" class="wait">Wait a moment...</p>
    </div>
    <div
            *ngIf="!isRecorded"
            (click)="stopRecord()"
            [class.siriWave]="isRecording"
            #siri
    ></div>
    <div class="time-stop"
         *ngIf="pressToStop"
         (click)="stopRecord()"
         [class.ad]="isAd">
        <div class="icon"></div>
        <p>{{ 'Tap to stop' }}</p>
    </div>
    <ng-template [ngIf]="auth === 'advertiser' && !(isRecordingAudio || isRecordingAd) && !isRecorded && !pressToStop
    || !(isRecordingAudio || isRecordingAd) && !isRecorded && !pressToStop && !showUserCantRecord">
        <div class="container" [class.ad]="isAd">
            <div class="recorder-container" [class.ad]="isAd" (click)="startRecord()">
                <div class="icon"></div>
                <p>{{ 'Tap to record' }}</p>
            </div>
        </div>
    </ng-template>
    <ng-template
            [ngIf]="!(isRecordingAudio || isRecordingAd) && !isRecorded && !pressToStop && showUserCantRecord && auth !== 'advertiser'">
        <div class="container" [class.ad]="isAd">
            <div class="recorder-container" [class.ad]="isAd">
                <div class="icon"></div>
                <p>{{ 'No time to record' }}</p>
            </div>
        </div>
    </ng-template>
</ng-template>

<div class="noLocalized" *ngIf="!isUserLocalized">
    <h2>You must be localized to record audios</h2>
</div>
