<div class="modal-choose-advertisement">
  <h1 mat-dialog-title>It's an...</h1>
  <div mat-dialog-content [ngStyle]="{'padding': '20px 0'}">
    <button mat-raised-button class="audioButton" (click)="clickAudio()">
      {{ 'audio' | translate }}
    </button>
    <button mat-raised-button class="advertButton" (click)="clickAdvert()">
      {{ 'advert' | translate }}
    </button>
  </div>
  <mat-dialog-actions>
    <button mat-button color="warn" (click)="onClosed()">
      Close
    </button>
  </mat-dialog-actions>
</div>
