<mgl-map [style]="'mapbox://styles/soundgo/cjtheyu3i008g1gmp23th92b9'" [zoom]="[13]" [center]="[-5.987, 37.358]"
  (load)="initMap($event)">
  <mgl-control #geolocation mglGeolocate [positionOptions]="{
        enableHighAccuracy: true
      }" [trackUserLocation]="true" (load)="initUserGeolocation($event)"></mgl-control>
  <mgl-layer *ngIf="isDataLoaded" id="audios" type="symbol" source="audios" [layout]="{
    'icon-image': 'Marker',
    'icon-allow-overlap': true
  }" [filter]="['==', 'type', categorySelected]">
  </mgl-layer>
  <mgl-layer *ngIf="isDataLoaded" id="ads" type="symbol" source="ads" [layout]="{
    'icon-image': 'MarkerAd',
    'icon-allow-overlap': true
  }">
  </mgl-layer>
  <mgl-layer *ngIf="isDataLoaded" id="sites" type="symbol" source="sites" [layout]="{
    'icon-image': 'MarkerSite',
    'icon-allow-overlap': true
  }">
  </mgl-layer>
  <mgl-marker #siteMarker *ngIf="showPlaceMarkerForm" [lngLat]="[userPosition.longitude, userPosition.latitude]"
    [draggable]="true">
  </mgl-marker>
</mgl-map>

<div id="map-container" *ngIf="showPlaceMarkerForm">
  <div id="basic-container">
    <p>Move the site marker</p>
    <button mat-raised-button color="warn" (click)="closeSiteForm()">Close</button>
    <button mat-raised-button class="saveButton" (click)="saveSiteForm()">Place site</button>
  </div>
</div>